
$color-seleccion: #B7D8ED;
$color-enlace: #007BC7;
$color-amarrillo: #FFDB2E;


$font-family: "Nunito";
$font-size: 20vw;
$font-negrilla: bold;
$letter-spacing: 0.05rem;

$background-form: transparent url('../recursos/imag/phone-img.png') 0% 0% no-repeat padding-box;;
$background-fondo: #F3F6F9;
$background-form-color: #CFFBE2;
